<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
</head>

<body>

 <nav class="header">
    <ul class="nav-list">
        <li class="nav-item cart-info">
            <span class="cart-icon">🛒</span>
            <a href="/cart" class="btn btn-cart" id="cart-view">Ver carrito</a>
            <span class="cart-count">{{numCarts}}</span>
        </li>
    </ul>
</nav>

  <h1>Pazari Store</h1>
  <div class="container" id="container-home"></div>
  <div class="pagination-container">
    <button class="btn btn-primary" id="btn-prev">Anterior</button>
    <span>Página <span id="current-page">{{page}}</span> de {{totalPages}}</span>
    <button class="btn btn-primary" id="btn-next">Siguiente</button>
  </div>
</body>

</html>
<script src="/js/home.js"></script>
<script src="/js/cart.js"></script>